{% load static %}
{% load base_tags %}
{% title %}
<hr>
{% category_navbar %}
<hr>
<hr>
{% for article in articles %}
<div>
    <p>{{article.title}}</p>
    <p>{{article.description|truncatewords:20}}</p>
    <p>{{article.jpublished}}</p>
    <img src="{{article.thumbnail.url}}">
    {% for cat in article.category_published.all %}
    <div>
        <p><a href="{% url 'Blog:category' cat.slug %}">#{{cat.title}}</a></p>
    </div>
    {% endfor %}
    <hr>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
        <a href="{% url 'Blog:category' category.slug %}">&laquo; first</a>
        <a href="{% url 'Blog:category' category.slug articles.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
        <a href="{% url 'Blog:category' category.slug articles.next_page_number %}">next</a>
        <a href="{% url 'Blog:category' category.slug articles.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>